body {

    background-color: #9900cc;
    text-align: center;
}

h1 {

    color: goldenrod;
    font-size: 200%;
}

p {

    color: goldenrod;
    font-size: large;

}

img {

        height: 650px;
        width: auto;
       
}

.mall {

    height: auto;
    width: auto;

}

.trademark {

    position: absolute;
    bottom: 5;
    right: 1070px;
    height: 15px;
    width: auto;

}

.copyright {

margin: 10;
font-size: x-small;
font: "Times New Roman";

}